extends layout

block content
    div.well.clearfix
        #content.span8
        #chat.span4

block scripts
    script(data-main='js/main', type='text/javascript',src='components/requirejs/require.js')
  
