<li class="media">
    <a class="pull-left" href="#profile/<%=model.accountId%>">
      <img class="media-object" data-src="http://fakeimg.pl/48x48/">
    </a>
    <div class="media-body">
        <h5 class="media-heading">Contact:</h5>
        <p><%= model.name.first %> <%= model.name.last %></p>
        <div class='nav nav-bar'>
            <% if ( !addButton ) { %>
                <a href="#profile/<%=model.accountId%>" class="btn btn-small">View</a>
            <% }%>
            <% if ( addButton ) { %>
                <button class="addbutton btn btn-small">Add Contact</button>
            <% } %>
            <% if ( removeButton ) { %>
                <button class="removebutton btn btn-small btn-warning">Remove Contact</button>
            <% } %>
        </div>
        <div class="media">
        </div>
    </div>
</li>